<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Index{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', 
            filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', 
            filename='bootstrap/css/bootstrap-responsive.css') }}"  rel="stylesheet">
        {% block head %}{% endblock %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
            {% block body %}
            {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static',
            filename='js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', 
            filename='bootstrap/js/bootstrap.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
