{% extends "base.html" %}

{% block javascripts %}
<script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
<script src="{{url_for('static', filename='js/angular-resource.min.js')}}"></script>
<script src="{{url_for('static', filename='angular/services.js')}}"></script>
<script src="{{url_for('static', filename='angular/controllers.js')}}"></script>
<script src="{{url_for('static', filename='angular/app.js')}}"></script>
{% endblock %}

{% block body %}
<div class="span12" ng-app="restoApp">
    <div ng-controller="MessageCtrl">
        [[ message ]]
    </div>
    <div ng-view>
    </div>
</div>
{% endblock %}
