<ul class="thumbnails" ng-controller="OrderCtrl">
    <li class="thumbnail" ng-repeat="m in meja" ng-click="gotoMeja(m)">
        <div style="height: 5em; width: 5em;" ng-show="m.available">[[m.nama]]</div>
        <div style="height: 5em; width: 5em; background-color: yellow"
        ng-hide="m.available">[[m.nama]]</div>
    </li>
</ul>
