<div>
    <div class="span3">
        <h1>Daftar pesanan</h1><button ng-click="save()">Save</button>
        <ul>
            <li ng-repeat="item in items">
                [[ item.menu.nama ]]: [[ item.qty ]] @[[ item.menu.harga ]] = 
                [[item.qty * item.menu.harga ]]
                <button ng-show="item.update" ng-click="removeItem(item.menu)">-</button>
                <button ng-show="item.update" ng-click="addItem(item.menu)">+</button>
            </li>
        </ul>
        Total items: [[ totalItems() ]]<br>
        Total harga: [[ totalHarga() ]]<br>
    </div>
    <div class="span9">
        kembali ke <a href="/order/">Meja</a>
        <h1>Daftar menu</h1> <button ng-click="cancel()">Batal</button>
        <ul class="thumbnails">
            <li class="thumbnail" ng-repeat="m in menu" ng-click="addItem(m)">
                <div style="background-image: url('/static/img/unknown.jpg');
                width: 240px; height:
                120px"><span
                class=""><b>[[m.nama]]</b><br><b>[[m.harga]]</b></span></div>
            </li>
        </div>
    </div>
</div>
